$color1: rgba(186, 171, 222, 1);
$color2: rgba(238, 235, 255, 1);
$textcolor: rgba(49, 49, 134, 1);
$color3: rgba(255, 27, 189, 1);
$color4: rgba(255, 255, 255, 0.8);

body {
  font-family: 'Montserrat', sans-serif;
  color: $textcolor;

  h1 {
    font-weight: 900;
    font-size: 2.5rem;
  }
  h2 {
    font-weight: 700;
    font-style: italic;
  }
  .grandopening {
    font-weight: 700;
  }
  .bobapics {
    width: 100%;
    height: 100%;
  }
  .intro-text {
    font-size: 1rem;
  }
  .bobapartydate {
    text-align: center;
  }
.bg-light {
  background-color: $color2 !important;
}
.navbar-custom {
  background-color: $textcolor !important;
}
.navbar-item {
  color: white !important;
  font-weight: 100;
  text-transform: capitalize !important; /*THIS IS NOT WORKING*/
}
.bobagals {
  font-weight: 700;
  font-style: italic;
  color: $color3 !important;
}
.btn-custom {
  color: $color3;
  border-color: $color3;
}
.btn-custom:hover {
  color: white;
  background-color: $color3;
}
.aboutus {
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 2rem;
  h2 {
    font-style: normal;
    margin-bottom: 0;
    font-size: 3rem;
  }
  h3 {
    font-weight: 900;
  }
  p {
    font-size: 1rem;
  }
}


.squarepics {
width: 80%;
margin-bottom: 5rem;
}


.yourcoupon {
  font-size: 2rem;
  font-weight: 900;
  color: $color3;
}
.yourcouponcode {
  font-weight: 700;
}
.modal-title {
  font-weight: 700;
  font-size: 2rem;
}
.bobapartydate {
  color: $color3;
  font-weight: 700;
}
.randomize {
  background-color: white;
}
.rafflefirstname, .rafflelastname, .raffleflavor {
  font-weight: 700;
}
footer {
  a, a:hover {
    color: $color1;
  }
}
}

.location {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top: 3rem;
  h3 {
    font-weight: 900;
    margin-bottom: 1.5rem;
  }
  h4 {
    font-weight: 900;
    font-size: 1rem;
  }
}
.googlemaps {
  width: 100%;
  height: 400px;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .location {
    text-align: right;
  }
  .googlemaps {
    padding-top: 3rem;;
    padding-right: 10rem;
    padding-left: 1rem;
  }
}

.menu {
  font-family: 'Playfair Display', serif;
  background-color: $textcolor;
  color: white;
  border-radius: 20px;
  h3 {
    padding-top: 1rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
  }
  h4 {
    font-weight: 700;
    font-size: 1.2rem;
  }
ul {
  padding: 0;
}

  li {
    list-style: none;
  }
}

@media (max-width: 767px) {
  .menu {
    border-radius: 0;
  }
}

@media (max-width: 1060px) {
  .bobatitle {
  background-color: $color4;
  padding: 2rem;
  border-radius: 20px;
}
}

@media (max-width: 767px) {
  .bobatitle {
    background-color: $color2;
  }
}

.generategif {
  margin-bottom: 2rem;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

@media (max-width: 768px) {
  .aboutus {
    padding-left: 5% !important; /*WHY DOES NOT OVERRIDE WITHOUT !IMPORTANT?*/
    padding-right: 5% !important;
  }
}

.overflow-hidden { overflow: hidden; }

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: $color1;
  text-align: center;
  background-color: $color2;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
