body {
  font-family: 'Montserrat', sans-serif;
  color: #313186; }
  body h1 {
    font-weight: 900;
    font-size: 2.5rem; }
  body h2 {
    font-weight: 700;
    font-style: italic; }
  body .grandopening {
    font-weight: 700; }
  body .bobapics {
    width: 100%;
    height: 100%; }
  body .intro-text {
    font-size: 1rem; }
  body .bobapartydate {
    text-align: center; }
  body .bg-light {
    background-color: #eeebff !important; }
  body .navbar-custom {
    background-color: #313186 !important; }
  body .navbar-item {
    color: white !important;
    font-weight: 100;
    text-transform: capitalize !important;
    /*THIS IS NOT WORKING*/ }
  body .bobagals {
    font-weight: 700;
    font-style: italic;
    color: #ff1bbd !important; }
  body .btn-custom {
    color: #ff1bbd;
    border-color: #ff1bbd; }
  body .btn-custom:hover {
    color: white;
    background-color: #ff1bbd; }
  body .aboutus {
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2rem; }
    body .aboutus h2 {
      font-style: normal;
      margin-bottom: 0;
      font-size: 3rem; }
    body .aboutus h3 {
      font-weight: 900; }
    body .aboutus p {
      font-size: 1rem; }
  body .squarepics {
    width: 80%;
    margin-bottom: 5rem; }
  body .yourcoupon {
    font-size: 2rem;
    font-weight: 900;
    color: #ff1bbd; }
  body .yourcouponcode {
    font-weight: 700; }
  body .modal-title {
    font-weight: 700;
    font-size: 2rem; }
  body .bobapartydate {
    color: #ff1bbd;
    font-weight: 700; }
  body .randomize {
    background-color: white; }
  body .rafflename, body .raffleflavor {
    font-weight: 700; }
  body footer {
    color: #baabde !important; }
    body footer a, body footer a:hover {
      color: #baabde; }

.container {
  max-width: 960px; }

/*
 * Custom translucent site header
 */
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.site-header a {
  color: #999;
  transition: ease-in-out color .15s; }

.site-header a:hover {
  color: #fff;
  text-decoration: none; }

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  border-radius: 5px; }

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%; }

/*
 * Extra utilities
 */
.flex-equal > * {
  -ms-flex: 1;
  flex: 1; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1; } }

@media (max-width: 768px) {
  .aboutus {
    padding-left: 5% !important;
    /*WHY DOES NOT OVERRIDE WITHOUT !IMPORTANT?*/
    padding-right: 5% !important; } }

.overflow-hidden {
  overflow: hidden; }

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5; }

.blog-footer p:last-child {
  margin-bottom: 0; }
